/*// 	post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*// 	Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/
.post-info {
    width: 400px;
    margin: 10px auto 0;
    padding: 10px;
    border: 2px solid darkred;
}

.user-item {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.user-item:not(:last-child) {
    border-bottom: 2px solid darkred;
}

.user-item:last-child {
    text-align: end;
}

.comment {
    margin-top: 30px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.comment > * {
    border: 2px solid darkred;
    text-align: center;
    padding: 10px;
}