/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижче, на 90% ширини сторінки, по центру.*/
/*блоки з короткою інфою про post - в ряд по 5 .*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.user {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid darkred;
}

.user-element {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.user-element:not(:last-child) {
    border-bottom: 2px solid darkred;
}

button {
    width: 90%;
    min-height: 40px;
    border: 2px solid darkred;
    cursor: pointer;
    padding: 5px;
}

.post-title {
    margin-top: 30px;
}

.post-title a {
    background-color: greenyellow;
}

.post-title a:not(:last-child) {
    margin-right: 10px;
}